body {
  background-color: #f5f5f5;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #212121;
}

.logo {
  font-family: "Raleway", sans-serif;
}

.menu a {
  font-weight: 500;
  font-size: 14px;
  line-height: 1em;
  letter-spacing: 0.02em;
}
.menu a:hover {
  color: #2196f3;
}
.menu a:focus {
  color: #2196f3;
}

.contact a {
  font-weight: 500;
  font-size: 14px;
  line-height: 1em;
  letter-spacing: 0.02em;

  color: #757575;
}
.contact a:hover {
  color: #2196f3;
}
.contact a:focus {
  color: #2196f3;
}

.click {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875em;

  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;

  color: #ffffff;
  cursor: pointer;
}

.click:hover {
  background-color: #2196f3;
  color: white;
}
.click:focus {
  background-color: #2196f3;

  color: white;
}

.click button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625em;

  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
}

.click button:hover {
  background-color: #2196f3;
  color: white;
}
.click button:focus {
  background-color: #2196f3;
  color: white;
}

.headline {
  color: #212121;
}

.first {
  font-weight: 900;
  font-size: 44px;
  line-height: 3.75em;

  text-align: center;
  letter-spacing: 0.06em;

  color: #ffffff;
}

.second {
  font-weight: 700;
  font-size: 36px;
  line-height: 2.625em;
  text-align: center;
  letter-spacing: 0.03em;
}

.fifth {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.1875em;

  letter-spacing: 0.03em;
}

.content {
  font-size: 14px;
  line-height: 1.5em;

  letter-spacing: 0.03em;

  color: #757575;
}

.job {
  font-size: 16px;
  line-height: 1.1875em;

  letter-spacing: 0.03em;

  color: #757575;
}

.area {
  font-size: 16px;
  line-height: 1.875em;

  letter-spacing: 0.03em;

  color: #757575;
}

.address {
  font-size: 14px;
  line-height: 1.5em;

  letter-spacing: 0.03em;

  color: #ffffff;
}
