body {
  font-family: "DynaPuff", cursive;
  font-family: "Raleway", sans-serif;
  font-family: "Roboto", sans-serif;
  
}

:root {
  --text-color: red;
  --text-size: 42px;
  --secondary-text-size: 50px;
  --main-font: "DynaPuff", cursive;
}

.text {
  color: var(--text-color);
  font-size: var(--text-size);
  font-family: var(--main-font);
}

.content {
  color: var(--text-color);
  font-size: var(--secondary-text-size);
}
